/* RESPONSIVE */

  /* Tablet and mobile */
  @media (max-width: 63.9375em) {
    .songCurrent {
      padding: 20px 0 25px;
    }

    .song__name {
      margin-bottom: 8px;
    }

    .progress__bar {
      height: 10px;
    }

    .timer {
      margin-bottom: 8px;
    }

    .volume__bar {
      height: 7px;
    }

    .material-symbols-rounded {
      font-size: 3.6rem;
    }
    .volume__area .material-symbols-rounded {
      font-size: 3rem;
    }

    #btn-toggle-play {
      font-size: 7.2rem;
    }

    /* Mobile */
    @media (max-width: 46.1875em) {

      .footer {
        font-size: 1rem;
        bottom: -2px;
      }
    }
  }
